useDynLib(SpecsVerification)
export(BrierScoreDecomposition)
export(DressCrps)
export(DressCrpsDiff)
export(DressIgnDiff)
export(DressEnsemble)
export(DressIgn)
export(FairBrier)
export(FairBrierDiff)
export(FairCrps)
export(FairCrpsDiff)
export(FairRps)
export(FairRpsDiff)
export(FitAkdParameters)
export(GaussCrps)
export(GaussCrpsDecomposition)
export(GaussCrpsDiff)
export(GetDensity)
export(PlotDressedEns)
export(PlotRankhist)
export(Rankhist)
export(ReliabilityDiagram)
export(TestRankhist) 

